<h1>Welcome to {{ hotelName }}</h1>
<!-- Data interpolation -->
<div [hidden]="hideRooms">
  Number of rooms:
  <span [innerText]="numberofRooms"></span>
</div>
<!-- property binding -->

<button (click)="toggle()">
  <!-- event binding -->
  {{ hideRooms ? "Show Rooms" : "Hide Rooms" }}
</button>

<div [ngStyle]="room.availableRooms ? { color: 'green' } : { color: 'red' }">
  Available rooms: {{ room.availableRooms ?? "No available rooms" }}
</div>
<div *ngIf="selectedRoom">Selected room: {{ selectedRoom | json }}</div>
<div *ngIf="room.availableRooms">
  <app-rooms-list
    [rooms]="roomList"
    (selectedRoom)="selectRoom($event)"
    [title]="title"
  />
</div>
<button (click)="addRoom()">Add room</button>
